
#intro {
    background-color: rgb(182, 220, 238);
}
user agent stylesheet
section {
    display: block;
}
body {
    text-align: center;
    background-color: rgba(180, 225, 252, 0.966);
}